@charset "UTF-8";


.headernav {
    overflow: hidden;
    background-color: #000;
}

.headernav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;

}

.h1_order_car {
    font-size: 15px;
}
.h1_car_category{
    text-align: center;
}

.nav-dropdown {
    position: relative;
    display: inline-block;

}

.nav-dropdown:hover {
    display: block;
    background-color: #f5c71a;
}

body {
    background-color: black;
}

nav ul {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

nav li {
    float: left;

}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f5c71a;
    color: #000;
}

footer {
    background-color: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

aside {
    position: relative;
    bottom : 0;
    color: #fff;
    width: 100%;
    padding-bottom: 20px;
    line-height: 1.5;

}


.fieldset {
    border: 2px solid #ffd100;

}

#main_content {
    position: relative;
}

.responsive {
    width: 100%;
    height: auto;
}

.rent_form {
    padding: 1em;
    position: absolute;
    background-color: #fff;
    top: 8px;
    left: 16px;
}



.section-dropdown {
    position: relative;
    display: inline-block;
}

.section-dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 3px;
    z-index: 1;
}

.section-dropdown:hover .section-dropdown-content {
    display: block;
    background-color: #eee;

}

input[type=text] {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

select.clock {
    width: 30%;
    padding: 4px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000;
}

select.car {
    font-size: 20px;
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 4px;
}

.button_style_log_in {
    float: right;
    color: #000;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ffd100;
    outline: inherit;

}

.button_style_log_in:hover {
    color: #ffd100;
    border: 2px solid #ffd100
}

.button_style_choose_car {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    outline: inherit;
    margin: 0 50px 0 0;

}

.button_style_choose_car:hover {
    color: #ffd100;
    background-color : #000;
    border: 2px solid #000;
}

.chosen_car_category {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #ffd100;
    border: 2px solid #000;
    outline: inherit;
    margin: 0 50px 0 0;
}

.chosen_car_category:hover {
    color: #ffd100;
    border: 2px solid #000;
}


button {
    padding: 5px 15px;
}


button.primary:hover {
    background-color: #eee;
    border: 2px solid #308dff;
    color: #308dff;
}

button.secondary:hover {
    border: 2px solid #ffd100;
    color: #ffd100;
}

button.primary {
    color: #eee;
    background-color: #308dff;
    border: 2px solid #308dff;
}

button.secondary {
    background-color: #ffd100;
    color: #000;
    border: 2px solid #ffd100;
}

.label_hidden {
    display: none;
}

.grey_box {
    background-color: #ccc;
    padding: 10px 4px 10px 0px;
}


section ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

}

section li {
    float: left;
    padding: 10px;
}

section li a {
    color: #000;
    cursor: pointer;
    display: block;
    font-family: Ride, Montserrat, Trebuchet MS;
    font-style: normal;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 100%;


}


.vehicle_page {
    background-color: #fff;

}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000;
}

.cars_image {
    max-width: 50%;
    max-height: 50%;
}

.cars_image:hover {
    visibility: visible;
}

@media only screen and (min-width: 800px) {
    .grid-container {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 10px;
        background-color: #fff;
        padding: 10px;

    }

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
}

td {
    font-size: 20px;
    text-align: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.info_page {
    font-size: 13px;
    text-align: center;
    color: #eee;

}